.list-back {
  background-color: aqua;
}

#descricao {
  text-align: center;
}

.navbar {
  background: #8c9f7f;
}

.nav-link {
  color: aquamarine;
}

.d-block {
  object-fit: cover;
  height: 250px !important;
}

.description h1,
h3,
h4,
h5,
h6,
p,
label {
  text-align: left;
}

.form-label {
  padding-left: 8px;
}

.custom-card {
  border: none !important;
  border-radius: 20px;
}

.card-header {
  border: none !important;
  background: none !important;
}
